<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>
    <center id='header_form'>
        IMEI Number Checker
    </center>
    <form action="/checkImei" method="POST" id="main_form">
       <input type="text" name="imei" id="imei" placeholder="Enter an IMEI Number - eg:490154203237518"></input>
       <button type="submit">Check</button>
    </form>
    <footer>
        <h3>Developed By - Yuvraj Mann</h3>
    </footer>
</body>
</html>  