<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Enough Length</title>
</head>
<body id="check_body">
    <h2>IMEI code should have 15 characters</h2>
    <footer>
        <h3>Developed By - Yuvraj Mann</h3>
    </footer>
</body>
</html>