<!DOCTYPE html>
<html>
    <head><title>Result</title><link rel="stylesheet" href='/stylesheets/style.css'></head>
    <body id="check_body">
        <% if(isValid){ %>
            <h2><%=imeiNum%> is a valid IMEI Code</h2>
          <% } else{ %>  
            <h2><%=imeiNum%> is an invalid IMEI Code</h2>
            <%if(ceilVal!=null){%>
                <h2>You can add <%=ceilVal%> to last digit to make IMEI num valid</h2>
            <%} else if(floorVal!=null){%>
                <h2>You can subtract <%=floorVal%> from last digit to make IMEI num valid</h2>
            <%}%> 
         <% } %>
         <footer>
            <h3>Developed By - Yuvraj Mann</h3>
        </footer>
    </body>
</html>